header {
    background-color: #b5c99a;
    color: #862B0D;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
}
body {
    background-color: #FFF9C9;
}
h1 {
    font-weight: 500;
    font-size: 60px;
}
h2 {
    font-weight: 500;
    font-size: 30px;
}
h3 {
    color: #862B0D;
    background-color: #FFC95F;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
h4 {
    color: #862B0D;
    font-weight: 500;
}
p {
    color: #862B0D;
    font-family: 'Courier New', Courier, monospace;
}
article {
    color: #862B0D;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border: 2px solid #FFC95F;
    padding: 10px;
    margin: 10px;
}
a {
    color: #862B0D;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
}